tbody tr {
    cursor: pointer;
}

tbody td {
    font-size: .8rem !important;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr:nth-child(even) {
    background: lightgray;
}