.lead-detail-modal {
    position: fixed;

    width: 60vw;
    height: 85vh;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    background: #fff;
    z-index: 2;
}

.form-validation-error {
    display: block;
    margin-left: 44%;
    margin-top: -1rem;
    color: #ff0000;
    font-size: .8rem;
}