.lead-detail-modal {
    position: fixed;

    width: 60vw;
    height: 85vh;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    background: #fff;
    z-index: 2;
}

.lead-detail-header {
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 2rem;

    border-bottom: 1px solid #d3d3d3;
}